<div class="FormsModule">
  <h2>Post a Job</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <h3>Job Details</h3>
        <label>Company Name:</label> 
        <input type="text" class = "form-control" formControlName="company_name"/>
    </div>
    <div class="form-group">
        <label>Job Title:</label> 
        <input type="text" class = "form-control" formControlName="job_title">
    </div>
    <div class="form-group">
        <p>Location of Job:</p> 
        <label>City</label> 
        <input type="text" class = "form-control" formControlName="city"/>
        <label>State</label> 
        <input type="text" class = "form-control" formControlName="state"/>
    </div>
    <div class="form-group">
      <h3>Job Description</h3> 
      <input type="text" class = "form-control" formControlName="job_description"/>
    </div>
    <div class="form-group">
      <h3>Optional Details</h3> 
      <p>Adding more details to your job description can improve your chances of attracting candidates.</p>
      <div ng-app="MyApp" ng-controller="MyController">
        <input type="button" value="Add Street Address" ng-click="ShowHide()" />
        <div ng-show = "IsVisible">
          <p>Adding a full street address provides more visibility to candidates.</p>
          <label>Street Address (Optional)</label>
          <input type="text" class = "form-control" formControlName="zipcode"/>
          <label>Zipcode (Optional)</label> 
          <input type="text" class = "form-control" formControlName="zipcode"/>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>