<head>
    <style>
        .left {
            float: left;
            width: 300px;        
            padding: 10px;
        }
    </style>
    <style>
        .right {
            float: right;
            width: 300px;        
            padding: 10px;
        }
    </style>
    <style>
        tr {
          border-bottom: 1px solid black;
          border-top: 1px solid black;
          border-collapse: collapse;
        }
    </style>
  }​
</head>

<div class="container-fluid" style="border:1px solid black;">
  <div class="row">
    <div class="col">
      <p class="left">Unslotted Jobs</p>
    </div>
    <div class="col">
      <div>
        <select (change)="selectChangeHandler($event)">
            <option value="Newest First">Newest First</option>
            <option value="Job Title A-Z">Job Title A-Z</option>
        </select>
        <div *ngIf="selectedOp=='Job Title A-Z' ; else NewestFirst">
          <div class="row">
            <div class="col">
               <table>
                 <tr>
                   <th>Job</th>
                   <th>Days Sponsored</th>
                 </tr>
                 <tr *ngFor="let job of jobs$ | orderBy: 'name'">
                  <div *ngIf="job.is_slotted">
                   <td>
                     {{job.name}}
                     {{job.company}} 
                     {{job.location}}
                   </td>
                   <td>
                     {{job.days_sponsored}}
                   </td>
                   </div>
                 </tr>
               </table>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #NewestFirst>
    <div class="row">
        <div class="col">
           <table>
             <tr>
               <th>Job</th>
               <th>Posted Date</th>
             </tr>
             <tr *ngFor="let job of jobs$">
              <div *ngIf="job.is_slotted==false">
               <td>
                 {{job.name}}
                 {{job.company}} 
                 {{job.location}}
               </td>
               <td>
                 {{job.date_posted}}
               </td>
               </div>
             </tr>
           </table>
         </div>
    </div>
  </ng-template>
</div>