<head>
    <style>
        .left {
            float: left;
            width: 300px;        
            padding: 10px;
        }
    </style>
    <style>
        .right {
            float: right;
            width: 300px;        
            padding: 10px;
        }
    </style>
    <style>
        tr {
          border-bottom: 1px solid black;
          border-top: 1px solid black;
          border-collapse: collapse;
        }
    </style>
  }​
</head>

<div class="container-fluid" style="border:1px solid black;">
    <div class="row">
      <div class="col">
        <p class="left">Unslotted Jobs</p>
      </div>
      <div class="col">
            <div ng-app="slot_choice2" ng-controller="slot_Ctrl2">
                <select ng-model="selectedOption">
                     <option *ngFor="let o of ops" [ngValue]="y">{{o}}</option>
                </select>
                <p>You selected: <span ng-bind="selectedOption"></span> </p>
            </div>
      </div>
    </div>
    <div class="row">
        <div class="col">
           <table>
             <tr>
               <th>Job</th>
               <th>Posted Date</th>
             </tr>
             <tr *ngFor="let job of jobs$">
              <div *ngIf="job.is_slotted==false">
               <td>
                 {{job.name}}
                 {{job.company}} {{job.location}}
               </td>
               <td>
                 {{job.date_posted}}
               </td>
              </div>
             </tr>
           </table>
         </div>
      </div>
</div>