.text, .right-text-align{
    font-size: 10px;
}
.cancel{
    border: none;
    background:none;
    color: grey;
}
.routerButton{
    background: blue;
    color: white;
}
button, .routerButton{
    font-size: 12px;
    width: 145px;
}

text{
    font-size: 10px;
    
}
.updateButton{
    background-color: blue; 
    color: white; 
    margin-left:5em;
    text-align: center; 
}
