.company-logo-full {
    width: 200px;
    height: 200px;
}

.company-logo-100 {
    width: 100px;
    height: 100px;
}

.company-logo-75 {
    width: 75px;
    height: 75px;
}

.company-logo-50 {
    width: 50px;
    height: 50px;
}

.company-logo-30 {
    width: 30px;
    height: 30px;
}