<div class='billing'>
    <h4 class='bill'>Billing Address</h4>
    
    <form [formGroup]='billingForm' (ngSubmit)="onSubmit()">
      <div class='form-group'>
        <br>
        <label class='input'>First Name: </label>
        <input type="text" class="form-control" formControlName='first_name'>
        <div class="alert alert-danger" *ngIf="!billingForm.controls['first_name'].valid && billingForm.controls['first_name'].touched">Enter Valid First Name</div>    
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class='form-group'>
          <label class='input'>Last Name: </label>
          <input type="text" class="form-control" formControlName='last_name'>
          <div class="alert alert-danger" *ngIf="!billingForm.controls['last_name'].valid && billingForm.controls['last_name'].touched">Enter Valid Last Name</div>    
        </div>
        <br>
      <div class='form-group'>
          <label class='input'>Address: </label>
          <input type="text" class="form-control-address" formControlName='street_addr'>    
          <div class="alert alert-danger" *ngIf="!billingForm.controls['street_addr'].valid && billingForm.controls['street_addr'].touched">Enter Valid Address</div>    
      </div>
      <br>
      <div class='form-group'>
        <label class='input'>Country: </label>
        <input type="text" class="form-control" formControlName='country'>    
        <div class="alert alert-danger" *ngIf="!billingForm.controls['country'].valid && billingForm.controls['country'].touched">Enter Valid Country</div>    
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class='form-group'>
        <label class='input'>State</label>
        <input type="text" class="form-control" formControlName='state'>
        <div class="alert alert-danger" *ngIf="!billingForm.controls['state'].valid && billingForm.controls['state'].touched">Enter valid state</div>    
      </div>
      <br>
      <div class='form-group'>
        <label class='input'>City: </label>
        <input type="text" class="form-control" formControlName='city'>
        <div class="alert alert-danger" *ngIf="!billingForm.controls['city'].valid && billingForm.controls['city'].touched">Enter valid city</div>    
      </div>  
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class='form-group'>
        <label class='input'>Zip/Postal Code</label>
        <input type="text" class="form-control" formControlName='zipcode'>
        <div class="alert alert-danger" *ngIf="!billingForm.controls['zipcode'].valid && billingForm.controls['zipcode'].touched">Enter valid zip code</div>    
      </div>
      <br>
      <br>
      <div>
      <button type="submit" class="btn btn-primary" [disabled]="!billingForm.valid">Continue</button>
      </div>
    </form>
    <br>
    <br>
    </div>